Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-code-check:
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json

pre-push:
  parallel: true
  commands:
    js-test:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      glob: "**/*.rs"
      run: cargo test

fix(icons): svg icons sizes
  src/apps/settings/modules/seelenweg/infra.tsx
  src/apps/shared/components/Icon/index.tsx
Due: js-linter

chore(release): v2.0.0-beta.8
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

404 typo
  readme.md
Due: none

fix(rofi): rofi settings not appearing
  changelog.md
  src/apps/settings/components/navigation/index.tsx
  src/apps/shared/components/OverflowTooltip/index.tsx
  src/background/hook.rs
  src/background/modules/cli/application/debugger.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(wm): support multi-monitor on the window manager
  changelog.md
  src/apps/seelen_wm_v2/modules/layout/infra/containers/leaf.tsx
  src/apps/shared/index.ts
  src/background/seelen_wm_v2/hook.rs
  src/background/windows_api/monitor.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(weg): close apps by middle clicking
  changelog.md
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

feat(#97): allow change the date formant via UI settings
  changelog.md
  documentation/schemas/placeholder.schema.json
  documentation/schemas/settings.schema.json
  lib/src/state/placeholder.rs
  lib/src/state/placeholder.ts
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shared/store/app/selectors.ts
  src/apps/toolbar/modules/Date/infra.tsx
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(#73): showing unmanageable windows on dock
  changelog.md
  src/apps/seelenweg/modules/bar/index.tsx
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

feat(monitors): read the settings by monitor on weg and toolbar
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/background/instance.rs
  src/background/main.rs
  src/background/seelen.rs
  src/background/state/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.9
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Update tr.yml
  src/apps/update/i18n/translations/tr.yml
Due: none

Update tr.yml
  src/apps/toolbar/i18n/translations/tr.yml
Due: none

Update tr.yml
  src/apps/settings/i18n/translations/tr.yml
Due: none

chore(lang): improve turkish translations
  src/apps/seelenweg/i18n/translations/tr.yml
Due: none

fix(#53): app not restaring succesfully
  changelog.md
  src/background/instance.rs
  src/background/main.rs
  src/background/seelen.rs
  src/background/seelen_wall/mod.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#95): tray icon not working on other languages
  changelog.md
  src/background/modules/tray/application.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.10
  package-lock.json
  package.json
Due: none

chore(release): v2.0.0-beta.11
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

feat(#86): add context menu to toolbar items
  changelog.md
  documentation/schemas/placeholder.schema.json
  lib/src/state/placeholder.rs
  src/apps/seelenweg/components/BackgroundByLayers/infra.tsx
  src/apps/toolbar/i18n/translations/en.yml
  src/apps/toolbar/modules/Date/infra.tsx
  src/apps/toolbar/modules/Device/infra.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Power/infra.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/network/infra/Module.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/background/state/application/mod.rs
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(hook): win event hook crashing
  changelog.md
  src/background/main.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.12
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(crash): fake error on windows api been propagated
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.13
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(main): exit instead panic on setup error
  src/background/instance.rs
  src/background/main.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

fix(main): remove testing dev code
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#57): app not starting correctly when restarting the pc
  src/background/main.rs
  src/background/schedule.ps1
Due: rust-linter, rust-code-check, build-schemas

fix(weg): not opening apps on click items
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/background/seelen_weg/handler.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(weg): spawning console on open files
  src/background/exposed.rs
Due: rust-linter, rust-code-check, build-schemas

fix(weg/tb): dock and topbar been hidden on task switching
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/constants.rs
  src/background/winevent.rs
Due: rust-linter, rust-code-check, build-schemas

fix(wall): app crashing when trying set custom wallpapers
  src/background/seelen_wall/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check, build-schemas

fix(weg/tb): stealing focus when fullscreened apps
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.14
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Update zh.yml
  src/apps/settings/i18n/translations/zh.yml
Due: none

Update zh.yml
  src/apps/seelen_rofi/i18n/translations/zh.yml
Due: none

chore(lang): improvements on chinese translations (#114)
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
Due: none

fix(#83): edge tabs open in file explorer
  changelog.md
  src/background/seelen_weg/mod.rs
Due: rust-linter, rust-code-check, build-schemas
