Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-code-check:
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json

pre-push:
  parallel: true
  commands:
    js-test:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      glob: "**/*.rs"
      run: cargo test

ci(pre-release): fix release body
  .github/workflows/pre-release.yml
Due: none

fix(wall): default theme background not covering the entire monitor
  static/themes/default/theme.wall.css
Due: none

fix(weg): start-menu item not closing native start menu
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
Due: js-linter

docs(changelog): add missing changes
  changelog.md
Due: none

enh(weg): allow select .lnk when pinning customs files on dock
  src/apps/seelenweg/modules/bar/menu.tsx
  src/background/seelen_weg/handler.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.1-rc.1
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

ci(rc): fix workflow
  .github/workflows/pre-release.yml
Due: none

refactor(weg): convert readonly state to mutex
  src/background/seelen_weg/handler.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(settings): infinity fetching news
  changelog.md
  src/apps/settings/modules/Home/News.tsx
Due: js-linter

chore(release): v2.0.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

feat(ko): update korean translation
  src/apps/seelen_rofi/i18n/translations/ko.yml
  src/apps/seelenweg/i18n/translations/ko.yml
  src/apps/settings/i18n/translations/ko.yml
  src/apps/toolbar/i18n/translations/ko.yml
Due: none

fix(weg): running apps as admin instead normal
  changelog.md
  documentation/schemas/weg_items.schema.json
  lib/src/state/weg_items.rs
  lib/src/state/weg_items.ts
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/seelen_weg/handler.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Fix some typos and grammatical issues in README.md
  readme.md
Due: none

docs(#173): fix typos on readme
  readme.md
Due: none

chore(#172): improve korean translation
  src/apps/seelen_rofi/i18n/translations/ko.yml
  src/apps/seelenweg/i18n/translations/ko.yml
  src/apps/settings/i18n/translations/ko.yml
  src/apps/toolbar/i18n/translations/ko.yml
Due: none

chore(#190): improve Japanese translation
  src/apps/seelen_rofi/i18n/translations/ja.yml
  src/apps/seelenweg/i18n/translations/ja.yml
  src/apps/settings/i18n/translations/ja.yml
  src/apps/toolbar/i18n/translations/ja.yml
Due: none

chore(lang): improve Dutch translation
  src/apps/seelen_rofi/i18n/translations/nl.yml
  src/apps/seelenweg/i18n/translations/nl.yml
  src/apps/settings/i18n/translations/nl.yml
  src/apps/toolbar/i18n/translations/nl.yml
Due: none

chore(#202): improve Dutch translation
  src/apps/seelen_rofi/i18n/translations/nl.yml
  src/apps/seelenweg/i18n/translations/nl.yml
  src/apps/settings/i18n/translations/nl.yml
  src/apps/toolbar/i18n/translations/nl.yml
Due: none

feat(toolbar): add new option HideMode.NeverWithoutPlaceholder
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/toolbar/modules/main/infra.tsx
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(weg): display preview position were at wrong position
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

fix(toolbar): throw exception by default
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

Update seelen_rofi translation
  src/apps/seelen_rofi/i18n/translations/pt.yml
Due: none

Update seelenweg translation
  src/apps/seelenweg/i18n/translations/pt.yml
Due: none

Update settings translations
  src/apps/settings/i18n/translations/pt.yml
Due: none

Update toolbar translation
  src/apps/toolbar/i18n/translations/pt.yml
Due: none

chore(#222): fix some strings in portuguese translation
  src/apps/seelen_rofi/i18n/translations/pt.yml
  src/apps/seelenweg/i18n/translations/pt.yml
  src/apps/settings/i18n/translations/pt.yml
  src/apps/toolbar/i18n/translations/pt.yml
Due: none

fix(weg): the preview of apps was not aligned well
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
Due: js-linter

Fix a few things for the german translation
  src/apps/settings/i18n/translations/de.yml
Due: none

chore(#225): fix a few things for the german translation
  src/apps/settings/i18n/translations/de.yml
Due: none

fix(launcher): crash when changing settings
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
Due: rust-linter, rust-code-check, build-schemas

fix(launcher): crash when changing settings (#226)
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
Due: rust-linter, rust-code-check, build-schemas

docs(changelog): update
  changelog.md
Due: none

chore(release): v2.0.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(weg): resolve #136 issue
  src/apps/seelenweg/styles/global.css
Due: none

fix(toolbar): resolve #55 issue
  lib/src/utils/hooks.ts
  src/apps/toolbar/modules/Notifications/infra/ArrivalPreview.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter

feat(toolbar): calendar requested: #210, #160
  package-lock.json
  package.json
  src/apps/toolbar/modules/Date/infra.tsx
  src/apps/toolbar/modules/Date/infra/DateCalendar.tsx
  src/apps/toolbar/modules/Date/infra/Module.tsx
  src/apps/toolbar/modules/main/infra.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter
