Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

js-linter:
  run: npm run lint

rust-linter:
  run: cargo fmt -- --check

rust-code-check:
  run: cargo clippy -- -D warnings

build-schemas:
  run: npm run build:schemas && git add documentation/schemas/*.schema.json

enh(bundle): reduce bundle size
  changelog.md
  scripts/build.ts
  src/apps/settings/modules/monitors/workspace/infra.module.css
  tauri.conf.json
Due: js-linter

refactor(settings): clean code
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  lib/src/state/weg_items.rs
  scripts/translate.ts
  src/apps/seelen_rofi/i18n/index.ts
  src/apps/seelen_rofi/i18n/translations/en.yml
  src/apps/seelen_rofi/modules/launcher/infra/RunnerSelector.tsx
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/shared/styles.ts
  src/background/state/application/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

docs(readme): add ascii logo
  readme.md
Due: none

chore(release): v2.0.0-beta.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(tray): tray only working on english systems
  changelog.md
  src/background/modules/tray/application.rs
  src/background/seelen_weg/hook.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v1.10.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(tauri): update tauri beta to release
  Cargo.lock
  Cargo.toml
  lib/src/utils/index.ts
  package-lock.json
  src/background/hook.rs
  src/background/modules/media/application.rs
  src/background/modules/monitors/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/tray/application.rs
  src/background/modules/virtual_desk/native.rs
  src/background/modules/virtual_desk/workspaces.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/cli.rs
  src/background/seelen_wm/handler.rs
  src/background/seelen_wm/hook.rs
  src/background/seelen_wm/mod.rs
  src/background/utils/mod.rs
  src/background/windows_api/app_bar.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(weg): allow drop files into the dock
  changelog.md
  src/apps/seelenweg/index.tsx
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(wm): reimplementation of tiling window manager part 2
  changelog.md
  documentation/schemas/settings_by_app.schema.json
  lib/src/state/settings_by_app.rs
  lib/src/state/settings_by_app.ts
  src/apps/settings/components/SettingsBox/index.module.css
  src/apps/settings/components/SettingsBox/index.tsx
  src/apps/settings/modules/appsConfigurations/infra/EditModal.tsx
  src/apps/settings/modules/appsConfigurations/infra/Identifier.tsx
  src/background/hook.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/virtual_desk/cli.rs
  src/background/modules/virtual_desk/mod.rs
  src/background/modules/virtual_desk/workspaces.rs
  src/background/seelen.rs
  src/background/seelen_wm_v2/hook.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mocks/seelen.vd.ahk
  src/background/utils/ahk/mocks/seelen.wm.ahk
  src/background/utils/mod.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/monitor.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(settings): improve settings ui
  src/apps/settings/components/SettingsBox/index.module.css
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/modules/developer/app.ts
  src/apps/settings/modules/general/main/infra/Wallpaper.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/storeApi.ts
Due: js-linter

fix(wall): no refreshing desktop on startup
  src/background/seelen_wall/mod.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

enh(vd): made seelen vd work with uwp apps
  src/background/hook.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
Due: rust-linter, rust-code-check, build-schemas

fix(vd): deadlocking win event hook manager
  src/background/hook.rs
  src/background/modules/virtual_desk/cli.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_wm/handler.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/utils/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(themes): now themes are managed as layers
  changelog.md
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/styles/reset.css
  src/apps/seelen_task_switcher_rename_later/index.tsx
  src/apps/seelen_task_switcher_rename_later/styles/colors.css
  src/apps/seelen_task_switcher_rename_later/styles/reset.css
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wall/styles/colors.css
  src/apps/seelen_wall/styles/reset.css
  src/apps/seelen_wm_v2/index.tsx
  src/apps/seelen_wm_v2/styles/colors.css
  src/apps/seelen_wm_v2/styles/reset.css
  src/apps/seelenweg/index.tsx
  src/apps/seelenweg/modules/bar/index.css
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/styles/colors.css
  src/apps/seelenweg/styles/global.css
  src/apps/seelenweg/styles/reset.css
  src/apps/settings/index.tsx
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/settings/styles/colors.css
  src/apps/settings/styles/reset.css
  src/apps/shared/styles.ts
  src/apps/shared/styles/colors.css
  src/apps/shared/styles/reset.css
  src/apps/toolbar/index.tsx
  src/apps/toolbar/styles/colors.css
  src/apps/toolbar/styles/reset.css
  src/apps/update/index.tsx
  src/apps/update/styles/colors.css
  src/apps/update/styles/reset.css
  static/themes/default/theme.weg.css
Due: js-linter

style(weg): add some animations
  src/apps/seelenweg/modules/item/infra/DraggableItem.tsx
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/styles/global.css
  static/themes/default/theme.weg.css
Due: js-linter

enh(rofi): pin .lnk items as applications when target are .exe
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/handler.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(wm): not toggling correctly on settings change
  src/background/seelen.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
Due: rust-linter, rust-code-check, build-schemas

fix(wm): bad size when positioning a window from other monitor
  src/apps/seelen_wm_v2/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/main.rs
  src/background/seelen_wm/mod.rs
  src/background/seelen_wm_v2/handler.rs
  src/background/seelen_wm_v2/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(wm): no reindexing the windows on close
  src/background/seelen_wm_v2/node_impl.rs
  src/background/seelen_wm_v2/state.rs
Due: rust-linter, rust-code-check, build-schemas

refactor(wm): reimplementation of conditions on wm layouts
  Cargo.lock
  Cargo.toml
  changelog.md
  lib/src/state/wm_layout.rs
  src/background/error_handler.rs
  src/background/seelen_wm_v2/node_impl.rs
  src/background/seelen_wm_v2/state.rs
  static/layouts/Grid.json
Due: rust-linter, rust-code-check, build-schemas

refactor(wm): reimplementation of wm cli, allow change sizes of window
  Cargo.lock
  documentation/schemas/layout.schema.json
  documentation/schemas/settings.schema.json
  lib/Cargo.lock
  lib/Cargo.toml
  lib/src/state/settings.rs
  lib/src/state/wm_layout.rs
  src/apps/seelen_wm_v2/modules/layout/infra/index.css
  src/background/modules/cli/application/mod.rs
  src/background/modules/input/domain.rs
  src/background/seelen_wm/cli.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/seelen_wm_v2/handler.rs
  src/background/seelen_wm_v2/hook.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/node_impl.rs
  src/background/seelen_wm_v2/state.rs
  src/background/state/application/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/monitor.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check, build-schemas

enh(wm): allow change node sizes via window resize end event
  changelog.md
  lib/src/state/wm_layout.rs
  src/background/seelen_wm_v2/cli.rs
  src/background/seelen_wm_v2/hook.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
Due: rust-linter, rust-code-check, build-schemas

fix(weg): hidden taskbar regardless of the program init state
  changelog.md
  src/background/monitor.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

enh(main): check if webview runtime was installed before start
  changelog.md
  src/background/main.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.6
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(state): saving initial settings as yaml instead json
  changelog.md
  src/background/state/application/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.7
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(winhook): no stoping win hook on close
  changelog.md
  src/background/hook.rs
  src/background/main.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

refactor(main): return reference to the app handle instead clone
  src/background/exposed.rs
  src/background/modules/media/application.rs
  src/background/modules/tray/application.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
Due: rust-linter, rust-code-check, build-schemas

enh(icons): prerender icons on build to get lazy svg icons
  changelog.md
  scripts/build.ts
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/modules/information/infrastructure.tsx
  src/apps/settings/modules/seelenweg/infra.tsx
  src/apps/shared/components/Icon/index.module.css
  src/apps/shared/components/Icon/index.tsx
  src/apps/shared/components/InlineSvg/index.module.css
  src/apps/shared/components/InlineSvg/index.tsx
  src/apps/toolbar/modules/item/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
Due: js-linter

build(updater): remove unneeded artifacts
  tauri.conf.json
Due: none

fix(tcp): still recieving connections after seelen exit
  src/background/main.rs
  src/background/modules/cli/mod.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

enh(hitbox): reduce cpu usage
  lib/src/utils/layered_hitbox.ts
Due: js-linter

fix(break): rename property to avoid breaking settings from v1
  documentation/schemas/settings.schema.json
  lib/src/state/settings_by_monitor.rs
  lib/src/state/settings_by_monitor.ts
  src/background/state/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
  build-schemas: any of: **/*.rs
