Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

js-linter:
  run: npm run lint

rust-linter:
  run: cargo fmt -- --check

rust-code-check:
  run: cargo clippy -- -D warnings

build-schemas:
  run: npm run build:schemas && git add documentation/schemas/*.schema.json

chore(release): v1.10.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

docs(readme): fix typo in link
  readme.md
Due: none

docs(readme): fix discord button
  readme.md
Due: none

enh(ahk): add new commands to debugger
  Cargo.toml
  changelog.md
  src/background/hook.rs
  src/background/modules/cli/application.rs
  src/background/modules/cli/application/debugger.rs
  src/background/modules/cli/application/mod.rs
  src/background/seelen.rs
  src/background/utils/ahk/mocks/seelen.ahk
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mod.rs
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check, build-schemas

enh(media): add app icon to media players
  Cargo.toml
  changelog.md
  documentation/schemas/placeholder.schema.json
  documentation/toolbar.md
  lib/src/state/placeholder.rs
  src/apps/seelenweg/modules/item/infra/MediaSession.css
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/media/infra/index.css
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/media/application.rs
  src/background/modules/media/domain.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/utils/mod.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

ci(beta): add beta (pre-release) channel
  .github/workflows/pre-release.yml
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v1.10.3-beta.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(push): remove build on commit
  .github/workflows/ci.yml
Due: none

ci(push): add checkout
  .github/workflows/ci.yml
Due: none

ci(push): fix disk not found
  .github/workflows/ci.yml
Due: none

ci(push): improve speed
  .github/workflows/ci.yml
Due: none

ci(push): update workflow
  .github/workflows/ci.yml
Due: none

ci(release): run ci on releases
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

chore(release): v1.10.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(#73): clean weg items on load
  changelog.md
  documentation/schemas/weg_items.schema.json
  lib/src/state/weg_items.rs
  src/background/state/application/mod.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#64): can not restore settings window
  changelog.md
  src/background/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check, build-schemas

enh(weg): improve native taskbar restoration
  changelog.md
  src/background/seelen.rs
  src/background/seelen_weg/mod.rs
Due: rust-linter, rust-code-check, build-schemas

docs(changelog): fix place
  changelog.md
Due: none

enh(rect): improve windows rect borders detection
  changelog.md
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  src/background/seelen.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v1.10.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

feat(launcher): seelen app launcher (part 1)
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/index.html
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/styles/colors.css
  src/apps/seelen_rofi/styles/global.css
  src/apps/seelen_rofi/styles/reset.css
  src/background/error_handler.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/monitor.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/cli.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

feat(launcher): seelen app launcher (part 2)
  capabilities/launcher.json
  documentation/schemas/theme.schema.json
  lib/src/state/theme.rs
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/events.ts
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/reducer.ts
  src/apps/seelen_rofi/store.ts
  src/apps/seelen_rofi/styles/global.css
  src/apps/seelen_rofi/styles/reset.css
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/schemas/Theme.ts
  src/apps/shared/styles.ts
  src/background/exposed.rs
  src/background/seelen_rofi/mod.rs
  src/background/state/application/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  static/themes/default/theme.launcher.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(core): create ts seelen-core library
  lib/src/handlers/index.ts
  lib/src/lib.rs
  lib/src/lib.ts
  lib/src/state/index.ts
  lib/src/state/theme.ts
  lib/src/system_state/index.ts
  lib/src/system_state/mod.rs
  package-lock.json
  package.json
  src/apps/seelen_rofi/reducer.ts
  src/apps/seelen_wm/modules/shared/store/domain.ts
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/schemas/Theme.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/system_settings/application.rs
  src/background/modules/system_settings/domain.rs
  src/background/modules/system_settings/infrastructure.rs
  src/shared.interfaces.ts
  tsconfig.json
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(themes): replace theme implementation on all apps
  lib/src/handlers/index.ts
  lib/src/lib.ts
  lib/src/system_state/index.ts
  lib/src/utils/index.ts
  src/apps/seelen_rofi/store.ts
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/index.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/shared/store/infra.ts
Due: js-linter

Update ru.yml
  src/apps/seelenweg/i18n/translations/ru.yml
Due: none

Update ru.yml
  src/apps/settings/i18n/translations/ru.yml
Due: none

Update ru.yml
  src/apps/toolbar/i18n/translations/ru.yml
Due: none

chore(lang): improve russian translations
  src/apps/update/i18n/translations/ru.yml
Due: none

refactor(colors): remove emitter to register colors events
  lib/src/handlers/index.ts
  lib/src/system_state/index.ts
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelen_rofi/store.ts
  src/apps/seelen_wm/index.tsx
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/system/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(settings): allow settings be resizable
  src/apps/settings/app.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/appsConfigurations/infra/index.module.css
  src/apps/settings/modules/appsConfigurations/infra/infra.tsx
  src/apps/settings/modules/seelenweg/infra.tsx
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(weg): solid dock on never hide mode
  capabilities/migrated.json
  changelog.md
  lib/src/state/settings.rs
  lib/src/utils/hooks.ts
  lib/src/utils/index.ts
  lib/src/utils/layered_hitbox.ts
  src/apps/seelen_rofi/events.ts
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelenweg-hitbox/index.css
  src/apps/seelenweg-hitbox/index.html
  src/apps/seelenweg-hitbox/index.tsx
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/events.ts
  src/apps/seelenweg/index.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/hooks/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/utils/app.ts
  src/apps/toolbar/app.tsx
  src/apps/toolbar/index.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  src/apps/toolbar/modules/shared/hooks/infra.ts
  src/apps/toolbar/modules/shared/utils/app.ts
  src/apps/toolbar/modules/shared/utils/domain.ts
  src/background/exposed.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/windows_api/app_bar.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(themes): no updating on settings change
  src/apps/seelenweg/styles/global.css
  src/apps/seelenweg/styles/variables.css
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/main/application.ts
  src/apps/update/index.tsx
Due: js-linter

docs(changelog): update changelog
  changelog.md
Due: none

enh(icons): improve icon quality and extration of files
  Cargo.toml
  changelog.md
  lib/src/handlers/index.ts
  lib/src/state/settings.ts
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelen_rofi/modules/shared/store/app.ts
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/shared/utils/infra.ts
  src/apps/shared/Timing.ts
  src/apps/shared/interfaces/common.ts
  src/apps/shared/redux.ts
  src/background/exposed.rs
  src/background/modules/cli/application/mod.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_rofi/handler.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/state/application/mod.rs
  src/background/state/mod.rs
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
  static/themes/default/theme.launcher.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(crash): app crashing after disconnect a IMMDevice
  changelog.md
  src/background/modules/media/application.rs
Due: rust-linter, rust-code-check, build-schemas

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
  build-schemas: any of: **/*.rs
