Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-code-check:
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json

pre-push:
  parallel: true
  commands:
    js-test:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      glob: "**/*.rs"
      run: cargo test

chore(lang): changes on Japanese translation
  src/apps/seelenweg/i18n/translations/ja.yml
Due: none

fix(#41): encoding issues on utf-16 languages
  Cargo.lock
  Cargo.toml
  lib/src/state/settings.rs
  src/background/error_handler.rs
  src/background/main.rs
  src/background/seelen.rs
  src/background/utils/pwsh.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#31): empty tray module
  changelog.md
  src/background/modules/tray/application.rs
Due: rust-linter, rust-code-check, build-schemas

fix(weg): no adding default items to new users
  documentation/schemas/weg_items.schema.json
  lib/src/state/weg_items.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#20): dock an toolbar no showing on mouse over maximized windows
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

fix(uwp): crash on loading missing icons at start
  src/background/exposed.rs
  src/background/main.rs
  src/background/modules/uwp/mod.rs
  src/background/seelen.rs
  src/background/seelen_shell/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/state/mod.rs
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v1.9.11
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

chore(lang): improve japanese translation
  src/apps/settings/i18n/translations/ja.yml
  src/apps/toolbar/i18n/translations/ja.yml
Due: none

feat(tb): add volumen changed popup
  changelog.md
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/media/infra/index.css
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  static/themes/default/theme.toolbar.css
Due: js-linter

Better Urdu Translations
  src/apps/toolbar/i18n/translations/ur.yml
Due: none

Further Urdu Translation
  src/apps/seelenweg/i18n/translations/ur.yml
  src/apps/settings/i18n/translations/ur.yml
Due: none

chore(lang): Better Urdu Translation
  src/apps/toolbar/i18n/translations/ur.yml
Due: none

chore(lang): further urdu translation
  src/apps/seelenweg/i18n/translations/ur.yml
  src/apps/settings/i18n/translations/ur.yml
Due: none

enh(tb): fix fullscreen matching and hitboxes behaviour
  changelog.md
  src/apps/seelenweg-hitbox/index.css
  src/apps/seelenweg-hitbox/index.tsx
  src/apps/toolbar-hitbox/index.css
  src/apps/toolbar-hitbox/index.tsx
  src/background/modules/cli/application.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(fullscreen): duplicate events on create followed by show
  src/background/seelen_bar/hook.rs
  src/background/winevent.rs
Due: rust-linter, rust-code-check, build-schemas

enh(tb): remove hitbox implementation by synthetic mouse event
  src/apps/toolbar-hitbox/index.css
  src/apps/toolbar-hitbox/index.html
  src/apps/toolbar-hitbox/index.tsx
  src/apps/toolbar/app.tsx
  src/apps/toolbar/events.ts
  src/apps/toolbar/index.tsx
  src/apps/toolbar/modules/shared/hooks/infra.ts
  src/apps/toolbar/styles/global.css
  src/apps/toolbar/styles/reset.css
  src/background/hook.rs
  src/background/seelen_bar/cli.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(settings): not saving vd strategy
  src/apps/settings/modules/shared/store/app/StateBridge.ts
Due: js-linter

fix(tb): no removig focus
  src/apps/toolbar/events.ts
Due: js-linter

enh(weg): ignore frozen uwp processes on weg and wm
  Cargo.toml
  src/background/main.rs
  src/background/modules/power/infrastructure.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
Due: rust-linter, rust-code-check, build-schemas

enh(weg): improve add/remove detection and windows previews
  changelog.md
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/utils/infra.ts
  src/background/modules/uwp/load_uwp_apps.ps1
  src/background/modules/uwp/mod.rs
  src/background/modules/virtual_desk/workspaces.rs
  src/background/seelen.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/utils/constants.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(weg): no restoring native taskbar on close
  changelog.md
  src/background/seelen_weg/mod.rs
Due: rust-linter, rust-code-check, build-schemas

perf(enum): improvements on windows enumerator helpers
  src/background/hook.rs
  src/background/modules/virtual_desk/workspaces.rs
  src/background/seelen.rs
  src/background/seelen_weg/handler.rs
  src/background/utils/constants.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/background/winevent.rs
Due: rust-linter, rust-code-check, build-schemas

fix(focus): focused app no been matching correctly
  changelog.md
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/shared/events.ts
  src/apps/shared/interfaces/common.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(crash): on send win using seelen vd strategy
  src/background/modules/virtual_desk/workspaces.rs
Due: rust-linter, rust-code-check, build-schemas

fix(uwp): bad output on pwsh script
  src/background/modules/uwp/load_uwp_apps.ps1
Due: none

fix(fullscreen): handling invisible windows
  src/background/winevent.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v1.10.0
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

docs(readme): add note on installation
  readme.md
Due: none

docs(readme): update overview
  readme.md
Due: none

README: Fix typo in link
  readme.md
Due: none

fix(#67): app crashing on uwp serialization error by null values
  src/background/modules/uwp/mod.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#66): toolbar hitbox not handling multimonitors
  changelog.md
  src/apps/toolbar/events.ts
  src/apps/toolbar/index.tsx
Due: js-linter

fix(#67): app crashing on uwp serialization error by null values
  src/background/modules/uwp/load_uwp_apps.ps1
Due: none

chore(release): v1.10.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(#71): app crashing on large enumeration of monitors time
  changelog.md
  src/background/seelen.rs
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check, build-schemas
