Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-code-check:
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json

pre-push:
  parallel: true
  commands:
    js-test:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      glob: "**/*.rs"
      run: cargo test

ci(beta): update workflow
  .github/workflows/pre-release.yml
Due: none

feat(wall): add seelen wall
  capabilities/wall.json
  changelog.md
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  package-lock.json
  package.json
  src/apps/seelen_task_switcher_rename_later/app.tsx
  src/apps/seelen_task_switcher_rename_later/index.html
  src/apps/seelen_task_switcher_rename_later/index.tsx
  src/apps/seelen_task_switcher_rename_later/modules/liquid/infra/MiniDesktop.tsx
  src/apps/seelen_task_switcher_rename_later/modules/liquid/infra/index.tsx
  src/apps/seelen_task_switcher_rename_later/modules/liquid/mock.ts
  src/apps/seelen_task_switcher_rename_later/modules/shared/store/app.ts
  src/apps/seelen_task_switcher_rename_later/modules/shared/store/domain.ts
  src/apps/seelen_task_switcher_rename_later/modules/shared/store/infra.ts
  src/apps/seelen_task_switcher_rename_later/modules/solid/infra/index.tsx
  src/apps/seelen_task_switcher_rename_later/styles/colors.css
  src/apps/seelen_task_switcher_rename_later/styles/global.css
  src/apps/seelen_task_switcher_rename_later/styles/reset.css
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/index.html
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wall/styles/colors.css
  src/apps/seelen_wall/styles/global.css
  src/apps/seelen_wall/styles/reset.css
  src/background/main.rs
  src/background/monitor.rs
  src/background/seelen_wall/mod.rs
  src/background/state/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  tauri.conf.json
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(wall): missing worker
  src/background/seelen_wall/mod.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

enh(trace): improve tracing deadlocks
  src/background/utils/mod.rs
Due: rust-linter, rust-code-check, build-schemas

perf(init): improve initial loading time
  changelog.md
  src/apps/seelenweg/app.tsx
  src/apps/toolbar/index.tsx
  src/background/main.rs
  src/background/modules/uwp/mod.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
  src/background/utils/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(hitbox): layered hitbox lossing cursor
  changelog.md
  lib/src/utils/layered_hitbox.ts
Due: js-linter

fix(#92): app not starting for new users
  src/background/state/application/mod.rs
Due: rust-linter, rust-code-check, build-schemas

refactor(interface): clean weg interfaces code
  documentation/schemas/settings.schema.json
  lib/src/state/index.ts
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  lib/src/state/weg_items.ts
  src/apps/seelen_task_switcher_rename_later/modules/liquid/infra/MiniDesktop.tsx
  src/apps/seelen_task_switcher_rename_later/modules/liquid/infra/index.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/item/infra/MediaSession.tsx
  src/apps/seelenweg/modules/item/infra/Menu.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/shared/schemas/SeelenWegItems.ts
Due: js-linter, rust-linter, rust-code-check, build-schemas

feat(settings): add wall and launcher settings
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  lib/src/state/weg_items.rs
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/index.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/apps/settings/app.tsx
  src/apps/settings/modules/AppLauncher/index.module.css
  src/apps/settings/modules/AppLauncher/infra.tsx
  src/apps/settings/modules/Wall/index.module.css
  src/apps/settings/modules/Wall/infra.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/shared/components/Icon/index.tsx
  src/background/state/application/mod.rs
  tauri.conf.json
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.2
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(settings): not applying wall & launcher settings
  capabilities/launcher.json
  capabilities/wall.json
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelen_rofi/modules/shared/store/app.ts
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/settings/modules/AppLauncher/infra.tsx
  src/apps/settings/modules/shared/store/storeApi.ts
  src/background/seelen_wall/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(#91): apps been closed via shortcuts
  changelog.md
  lib/src/utils/index.ts
  src/apps/shared/ConsoleWrapper.ts
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(launcher): click on apps not working
  src/apps/seelen_rofi/modules/launcher/infra.tsx
Due: js-linter

feat(history): add history to app launcher
  capabilities/launcher.json
  lib/src/handlers/index.ts
  lib/src/state/index.ts
  src/apps/seelen_rofi/modules/launcher/app.ts
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelen_rofi/modules/shared/store/app.ts
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/seelen.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
  static/themes/default/theme.launcher.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(launcher): opening two windows on enter
  src/apps/seelen_rofi/modules/launcher/infra.tsx
Due: js-linter

refactor(launcher): clean code
  src/apps/seelen_rofi/modules/launcher/infra/CommandInput.tsx
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelen_rofi/modules/launcher/infra/RunnerSelector.tsx
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
Due: js-linter

chore(release): v2.0.0-beta.3
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(fullscreen): improve fullcreen apps matching
  changelog.md
  src/apps/seelenweg/styles/global.css
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/styles/global.css
  src/apps/update/styles/global.css
  src/background/hook.rs
  src/background/modules/tray/application.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(rect): change return type of rect getters
  src/background/modules/tray/application.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/constants.rs
  src/background/utils/mod.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

refactor(literals): replace literals by enums
  lib/src/handlers/index.ts
  lib/src/handlers/invokers.ts
  lib/src/state/index.ts
  lib/src/state/settings.ts
  lib/src/system_state/index.ts
  src/apps/seelen_rofi/modules/launcher/infra/Item.tsx
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/apps/seelen_wm/modules/layout/infra/containers/leaf.tsx
  src/apps/seelen_wm/modules/shared/store/app.ts
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/infra/StartMenu.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/seelenweg/modules/shared/utils/infra.ts
  src/apps/settings/modules/developer/infra.tsx
  src/apps/settings/modules/general/main/infra/Colors.tsx
  src/apps/settings/modules/general/main/infra/Wallpaper.tsx
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/settings/modules/shared/tauri/infra.ts
  src/apps/toolbar/modules/Notifications/infra/Notifications.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/app.ts
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  src/apps/toolbar/modules/network/infra/WlanSelectorEntry.tsx
Due: js-linter

refactor(interfaces): remove old interfaces
  documentation/schemas/settings_by_app.schema.json
  lib/src/state/index.ts
  lib/src/state/placeholder.ts
  lib/src/state/settings_by_app.rs
  lib/src/state/settings_by_app.ts
  lib/src/state/wm_layout.ts
  src/apps/seelen_wm/modules/layout/app.ts
  src/apps/seelen_wm/modules/layout/domain.ts
  src/apps/seelen_wm/modules/layout/infra/containers/fallback.tsx
  src/apps/seelen_wm/modules/shared/store/app.ts
  src/apps/seelen_wm/modules/shared/store/domain.ts
  src/apps/settings/modules/appsConfigurations/app/reducer.ts
  src/apps/settings/modules/appsConfigurations/domain.ts
  src/apps/settings/modules/appsConfigurations/infra/EditModal.tsx
  src/apps/settings/modules/appsConfigurations/infra/Identifier.tsx
  src/apps/settings/modules/appsConfigurations/infra/infra.tsx
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/schemas/AppsConfigurations.ts
  src/apps/shared/schemas/Layout.ts
  src/apps/shared/schemas/Placeholders.ts
  src/apps/shared/schemas/index.ts
  src/apps/toolbar/modules/Date/infra.tsx
  src/apps/toolbar/modules/Device/infra.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Power/infra.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/Workspaces/index.tsx
  src/apps/toolbar/modules/item/infra.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/Module.tsx
  src/apps/toolbar/modules/network/infra/Module.tsx
  src/apps/toolbar/modules/shared/store/app.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/shared.interfaces.ts
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(literals): replace literals by enums
  lib/src/handlers/events.ts
  lib/src/handlers/index.ts
  lib/src/handlers/mod.rs
  lib/src/lib.rs
  lib/src/state/index.ts
  lib/src/state/settings.ts
  lib/src/system_state/index.ts
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/events.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/hook.rs
  src/background/modules/media/infrastructure.rs
  src/background/modules/network/infrastructure.rs
  src/background/modules/notifications/infrastructure.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/modules/tray/infrastructure.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/cli.rs
  src/background/seelen_wm/mod.rs
  src/background/state/application/events.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(bundle): reduce bundle size
  changelog.md
  scripts/build.ts
  src/apps/settings/modules/monitors/workspace/infra.module.css
  tauri.conf.json
Due: js-linter

refactor(settings): clean code
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  lib/src/state/weg_items.rs
  scripts/translate.ts
  src/apps/seelen_rofi/i18n/index.ts
  src/apps/seelen_rofi/i18n/translations/en.yml
  src/apps/seelen_rofi/modules/launcher/infra/RunnerSelector.tsx
  src/apps/seelen_rofi/modules/launcher/infra/index.tsx
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/shared/styles.ts
  src/background/state/application/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.4
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

refactor(tauri): update tauri beta to release
  Cargo.lock
  Cargo.toml
  lib/src/utils/index.ts
  package-lock.json
  src/background/hook.rs
  src/background/modules/media/application.rs
  src/background/modules/monitors/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/modules/tray/application.rs
  src/background/modules/virtual_desk/native.rs
  src/background/modules/virtual_desk/workspaces.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
  src/background/seelen_wm/cli.rs
  src/background/seelen_wm/handler.rs
  src/background/seelen_wm/hook.rs
  src/background/seelen_wm/mod.rs
  src/background/utils/mod.rs
  src/background/windows_api/app_bar.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(weg): allow drop files into the dock
  changelog.md
  src/apps/seelenweg/index.tsx
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/events.rs
  src/background/state/application/mod.rs
  src/background/state/infrastructure.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(wm): reimplementation of tiling window manager part 2
  changelog.md
  documentation/schemas/settings_by_app.schema.json
  lib/src/state/settings_by_app.rs
  lib/src/state/settings_by_app.ts
  src/apps/settings/components/SettingsBox/index.module.css
  src/apps/settings/components/SettingsBox/index.tsx
  src/apps/settings/modules/appsConfigurations/infra/EditModal.tsx
  src/apps/settings/modules/appsConfigurations/infra/Identifier.tsx
  src/background/hook.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/virtual_desk/cli.rs
  src/background/modules/virtual_desk/mod.rs
  src/background/modules/virtual_desk/workspaces.rs
  src/background/seelen.rs
  src/background/seelen_wm_v2/hook.rs
  src/background/seelen_wm_v2/instance.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/seelen_wm_v2/state.rs
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/ahk/mocks/seelen.vd.ahk
  src/background/utils/ahk/mocks/seelen.wm.ahk
  src/background/utils/mod.rs
  src/background/windows_api/iterator.rs
  src/background/windows_api/monitor.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(wall): no refreshing desktop on startup
  src/background/seelen_wall/mod.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

enh(settings): improve settings ui
  src/apps/settings/components/SettingsBox/index.module.css
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/modules/developer/app.ts
  src/apps/settings/modules/general/main/infra/Wallpaper.tsx
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/storeApi.ts
Due: js-linter

enh(vd): made seelen vd work with uwp apps
  src/background/hook.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/hook.rs
Due: rust-linter, rust-code-check, build-schemas

fix(vd): deadlocking win event hook manager
  src/background/hook.rs
  src/background/modules/virtual_desk/cli.rs
  src/background/modules/virtual_desk/workspaces/hook.rs
  src/background/modules/virtual_desk/workspaces/mod.rs
  src/background/seelen_wm/handler.rs
  src/background/seelen_wm_v2/mod.rs
  src/background/utils/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.5
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none
