Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

pre-commit:
  commands:
    js-linter:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run lint
    rust-linter:
      glob: "**/*.rs"
      run: cargo fmt -- --check
    rust-code-check:
      glob: "**/*.rs"
      run: cargo clippy -- -D warnings
    build-schemas:
      glob: "**/*.rs"
      run: npm run build:schemas && git add documentation/schemas/*.schema.json

pre-push:
  parallel: true
  commands:
    js-test:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npm run test
    rust-test:
      glob: "**/*.rs"
      run: cargo test

fix(monitors): remove unnused settings
  documentation/schemas/settings.schema.json
  src/apps/settings/modules/ByMonitor/infra/index.tsx
  src/apps/settings/modules/general/main/infra/index.tsx
  src/apps/settings/modules/monitors/workspace/infra.module.css
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(vd): showing errors on changing of virtual desktop
  src/background/modules/virtual_desk/workspaces/mod.rs
Due: rust-linter, rust-code-check, build-schemas

style(news): fix shadow
  src/apps/settings/modules/Home/News.module.css
Due: none

fix(shortcuts): add missing shortcuts
  documentation/schemas/settings.schema.json
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/shared/store/app/StateBridge.ts
  src/apps/settings/modules/shared/store/app/reducer.ts
  src/apps/settings/modules/shortcuts/app.ts
  src/apps/settings/modules/shortcuts/infrastructure.tsx
  src/background/seelen.rs
  src/background/utils/ahk/mocks/seelen.launcher.ahk
  src/background/utils/ahk/mod.rs
  tauri.conf.json
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Update it.yml
  src/apps/settings/i18n/translations/it.yml
Due: none

chore(#134): improve Italian translations
  src/apps/settings/i18n/translations/it.yml
Due: none

chore(lang): improvements on turkish translations
  src/apps/toolbar/i18n/translations/tr.yml
Due: none

chore(lang): improvements on turkish translations
  src/apps/settings/i18n/translations/tr.yml
Due: none

chore(lang): improvements on turkish translations
  src/apps/seelenweg/i18n/translations/tr.yml
Due: none

chore(lang): improvements on turkish translations
  src/apps/seelen_rofi/i18n/translations/tr.yml
Due: none

Update zh.yml
  src/apps/settings/i18n/translations/zh.yml
Due: none

Update zh.yml
  src/apps/seelen_rofi/i18n/translations/zh.yml
Due: none

chore(#139): improvements on turkish translations
  src/apps/seelen_rofi/i18n/translations/tr.yml
  src/apps/seelenweg/i18n/translations/tr.yml
  src/apps/settings/i18n/translations/tr.yml
  src/apps/toolbar/i18n/translations/tr.yml
Due: none

chore(#140): improvements on chinese translations
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
Due: none

enh(weg): improve handling of files specially .lnk files
  changelog.md
  documentation/schemas/weg_items.schema.json
  lib/src/state/weg_items.rs
  lib/src/state/weg_items.ts
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/bar/menu.tsx
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/item/infra/File.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/item/infra/UserApplicationPreview.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/storeApi.ts
  src/background/exposed.rs
  src/background/seelen_weg/handler.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/string_utils.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(updater): no creating updates artifacts
  tauri.conf.json
Due: none

ci(nightly): add new nightly channel
  .github/workflows/nightly.yml
Due: none

ci(nightly): update
  .github/workflows/nightly.yml
Due: none

ci(nightly): update workflow
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

ci(nightly): update workflow
  .github/workflows/nightly.yml
Due: none

fix(weg): allowing empty execution_command field
  documentation/schemas/weg_items.schema.json
  lib/src/state/weg_items.rs
Due: rust-linter, rust-code-check, build-schemas

ci(pre-release): update workflow
  .github/workflows/pre-release.yml
Due: none

chore(postversion): update script
  scripts/postversion.ts
Due: js-linter

Fixed minor typos in readme.md
  readme.md
Due: none

revert(cd): revert changes on pre-release deployment
  .github/workflows/pre-release.yml
Due: none

chore(release): v2.0.1-rc.0
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none
