Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

js-linter:
  run: npm run lint

rust-linter:
  run: cargo fmt -- --check

rust-code-check:
  run: cargo clippy -- -D warnings

build-schemas:
  run: npm run build:schemas && git add documentation/schemas/*.schema.json

enh(media): show app icon of apps that are not uwp/msix
  changelog.md
  src/apps/seelenweg/modules/item/infra/MediaSession.css
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  static/themes/default/theme.toolbar.css
Due: rust-linter, rust-code-check, build-schemas

feat(icon_packs): add icons packs feature and improve icons extractors
  documentation/schemas/icon_pack.schema.json
  documentation/schemas/settings.schema.json
  lib/src/handlers/events.ts
  lib/src/handlers/mod.rs
  lib/src/main.rs
  lib/src/state/icon_pack.rs
  lib/src/state/icon_pack.ts
  lib/src/state/index.ts
  lib/src/state/mod.rs
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/background/exposed.rs
  src/background/modules/media/application.rs
  src/background/modules/tray/application.rs
  src/background/modules/uwp/mod.rs
  src/background/seelen.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/events.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/string_utils.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

revert(49cacf21): reimplement the fix done on this commit
  lib/src/handlers/events.ts
  lib/src/handlers/mod.rs
  lib/src/utils/layered_hitbox.ts
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

feat(#77): manage pwa as separated apps
  lib/src/state/weg_items.rs
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/background/modules/media/application.rs
  src/background/seelen.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/icons.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(themes): can not unselect themes when some of them were deleted
  changelog.md
  lib/src/state/settings.rs
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(uwp): remove unused uwp_manager struct
  src/background/main.rs
  src/background/modules/mod.rs
  src/background/modules/uwp/mod.rs
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.15
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

ci(local): improve speed of local ci scripts
  .gitignore
  lefthook.yml
  scripts/lefthook/post_hook.rs
  scripts/lefthook/pre_hook.rs
Due: rust-linter, rust-code-check, build-schemas

refactor(winvd): disable native vd in meantime of the library refactor
  scripts/lefthook/post_hook.rs
  scripts/lefthook/pre_hook.rs
  src/background/utils/winver.rs
Due: rust-linter, rust-code-check, build-schemas

style(settings): fix navigation menu's scroll
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/components/navigation/index.tsx
Due: js-linter

enh(settings): improve visuals on settings
  scripts/build.ts
  src/apps/seelen_rofi/public/index.html
  src/apps/seelen_task_switcher_rename_later/public/index.html
  src/apps/seelen_wall/public/index.html
  src/apps/seelen_wm_v2/public/index.html
  src/apps/seelenweg/index.html
  src/apps/seelenweg/public/index.html
  src/apps/settings/components/header/index.module.css
  src/apps/settings/components/header/index.tsx
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/index.html
  src/apps/settings/modules/Home/MiniStore.module.css
  src/apps/settings/modules/Home/MiniStore.tsx
  src/apps/settings/modules/Home/index.tsx
  src/apps/settings/public/index.html
  src/apps/settings/public/logo.svg
  src/apps/shared/components/Icon/index.tsx
  src/apps/toolbar/index.html
  src/apps/toolbar/public/index.html
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(wall): add support to webp extension
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/modules/Wall/infra.tsx
  tauri.conf.json
Due: js-linter

enh(wall): add animation on change and stop videos on fullscreen
  documentation/schemas/settings.schema.json
  lib/src/handlers/events.ts
  lib/src/handlers/invokers.ts
  lib/src/handlers/mod.rs
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/apps/seelen_wall/styles/global.css
  src/apps/settings/modules/Wall/index.module.css
  src/apps/settings/modules/Wall/infra.tsx
  src/apps/settings/modules/developer/infra.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/seelen_wall/hook.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(#117): creation of tray overflow failing on other langs than english
  src/background/modules/tray/application.rs
  src/background/seelen_weg/handler.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#118): handling foreground of invisible windows
  src/background/hook.rs
  src/background/utils/constants.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#116): exposed handlers no ensuring windows are valid
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#119): modules moving of place after startup
  scripts/lefthook/pre_hook.rs
  src/background/instance.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_weg/hook.rs
  src/background/windows_api/monitor.rs
Due: rust-linter, rust-code-check, build-schemas

enh(uwp): restore old code to get the hightest quality icons
  Cargo.lock
  Cargo.toml
  src/background/error_handler.rs
  src/background/modules/mod.rs
  src/background/modules/uwp/domain.rs
  src/background/modules/uwp/load_uwp_apps.ps1
  src/background/modules/uwp/mod.rs
  src/background/seelen_weg/icon_extractor.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.16
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(monitors): widgets only be shown on one monitor
  src/background/seelen_bar/hook.rs
  src/background/seelen_weg/hook.rs
Due: rust-linter, rust-code-check, build-schemas

enh(errors): improve logs of errors to easier debug on prod
  Cargo.lock
  Cargo.toml
  src/background/error_handler.rs
  src/background/hook.rs
  src/background/instance.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/plugins.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/system/brightness.rs
  src/background/windows_api/mod.rs
  tauri.conf.json
Due: rust-linter, rust-code-check, build-schemas

fix(monitors): fix app crashing on connecting a monitor
  lib/src/handlers/events.ts
  lib/src/handlers/mod.rs
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/background/modules/monitors/mod.rs
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.17
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(build): dev build failing
  changelog.md
  tauri.conf.json
  templates/installer.nsi
Due: none

enh(settings): replace splashscreen image
  src/apps/settings/public/index.html
  src/apps/settings/public/splashscreen.png
  src/apps/settings/styles/global.css
Due: none

docs(readme): update readme
  documentation/images/settings_preview.png
  documentation/images/twm_preview.png
  readme.md
Due: none

feat(launcher): seelen app launcher (part 1)
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/index.html
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/styles/colors.css
  src/apps/seelen_rofi/styles/global.css
  src/apps/seelen_rofi/styles/reset.css
  src/background/error_handler.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/monitor.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_rofi/cli.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  src/background/winevent.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(core): create ts seelen-core library
  lib/src/handlers/index.ts
  lib/src/lib.rs
  lib/src/lib.ts
  lib/src/state/index.ts
  lib/src/state/theme.ts
  lib/src/system_state/index.ts
  lib/src/system_state/mod.rs
  package-lock.json
  package.json
  src/apps/seelen_rofi/reducer.ts
  src/apps/seelen_wm/modules/shared/store/domain.ts
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/domain.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/domain.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/schemas/Theme.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/shared/store/domain.ts
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/modules/system_settings/application.rs
  src/background/modules/system_settings/domain.rs
  src/background/modules/system_settings/infrastructure.rs
  src/shared.interfaces.ts
  tsconfig.json
Due: js-linter, rust-linter, rust-code-check, build-schemas

feat(launcher): seelen app launcher (part 2)
  capabilities/launcher.json
  documentation/schemas/theme.schema.json
  lib/src/state/theme.rs
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/events.ts
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/reducer.ts
  src/apps/seelen_rofi/store.ts
  src/apps/seelen_rofi/styles/global.css
  src/apps/seelen_rofi/styles/reset.css
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/schemas/Theme.ts
  src/apps/shared/styles.ts
  src/background/exposed.rs
  src/background/seelen_rofi/mod.rs
  src/background/state/application/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  static/themes/default/theme.launcher.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(themes): replace theme implementation on all apps
  lib/src/handlers/index.ts
  lib/src/lib.ts
  lib/src/system_state/index.ts
  lib/src/utils/index.ts
  src/apps/seelen_rofi/store.ts
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/shared/index.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/shared/store/infra.ts
Due: js-linter

refactor(colors): remove emitter to register colors events
  lib/src/handlers/index.ts
  lib/src/system_state/index.ts
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelen_rofi/store.ts
  src/apps/seelen_wm/index.tsx
  src/apps/seelen_wm/modules/shared/store/infra.ts
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/toolbar/app.tsx
  src/apps/toolbar/modules/shared/store/infra.ts
  src/background/exposed.rs
  src/background/modules/system_settings/infrastructure.rs
  src/background/system/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(settings): allow settings be resizable
  src/apps/settings/app.tsx
  src/apps/settings/components/navigation/routes.tsx
  src/apps/settings/i18n/translations/en.yml
  src/apps/settings/modules/appsConfigurations/infra/index.module.css
  src/apps/settings/modules/appsConfigurations/infra/infra.tsx
  src/apps/settings/modules/seelenweg/infra.tsx
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(weg): solid dock on never hide mode
  capabilities/migrated.json
  changelog.md
  lib/src/state/settings.rs
  lib/src/utils/hooks.ts
  lib/src/utils/index.ts
  lib/src/utils/layered_hitbox.ts
  src/apps/seelen_rofi/events.ts
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelenweg-hitbox/index.css
  src/apps/seelenweg-hitbox/index.html
  src/apps/seelenweg-hitbox/index.tsx
  src/apps/seelenweg/app.tsx
  src/apps/seelenweg/components/WithContextMenu.tsx
  src/apps/seelenweg/events.ts
  src/apps/seelenweg/index.tsx
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/apps/seelenweg/modules/shared/hooks/infra.ts
  src/apps/seelenweg/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/shared/utils/app.ts
  src/apps/toolbar/app.tsx
  src/apps/toolbar/index.tsx
  src/apps/toolbar/modules/Notifications/infra/Module.tsx
  src/apps/toolbar/modules/Settings/infra.tsx
  src/apps/toolbar/modules/Tray/index.tsx
  src/apps/toolbar/modules/main/infra.tsx
  src/apps/toolbar/modules/media/infra/MediaControls.tsx
  src/apps/toolbar/modules/network/infra/WlanSelector.tsx
  src/apps/toolbar/modules/shared/hooks/infra.ts
  src/apps/toolbar/modules/shared/utils/app.ts
  src/apps/toolbar/modules/shared/utils/domain.ts
  src/background/exposed.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/cli.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/ahk/mocks/seelen.ahk
  src/background/utils/ahk/mocks/seelen.lib.ahk
  src/background/windows_api/app_bar.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(themes): no updating on settings change
  src/apps/seelenweg/styles/global.css
  src/apps/seelenweg/styles/variables.css
  src/apps/settings/modules/shared/store/infra.ts
  src/apps/settings/modules/shared/store/storeApi.ts
  src/apps/shared/styles.ts
  src/apps/toolbar/modules/main/application.ts
  src/apps/update/index.tsx
Due: js-linter

docs(changelog): update changelog
  changelog.md
Due: none

enh(icons): improve icon quality and extration of files
  Cargo.toml
  changelog.md
  lib/src/handlers/index.ts
  lib/src/state/settings.ts
  src/apps/seelen_rofi/App.tsx
  src/apps/seelen_rofi/index.tsx
  src/apps/seelen_rofi/modules/launcher/infra.tsx
  src/apps/seelen_rofi/modules/shared/store/app.ts
  src/apps/seelen_rofi/modules/shared/store/domain.ts
  src/apps/seelen_rofi/modules/shared/store/infra.ts
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/apps/seelenweg/modules/item/app/TemporalApp.ts
  src/apps/seelenweg/modules/shared/utils/infra.ts
  src/apps/shared/Timing.ts
  src/apps/shared/interfaces/common.ts
  src/apps/shared/redux.ts
  src/background/exposed.rs
  src/background/modules/cli/application/mod.rs
  src/background/monitor.rs
  src/background/seelen.rs
  src/background/seelen_rofi/handler.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/state/application/mod.rs
  src/background/state/mod.rs
  src/background/utils/constants.rs
  src/background/windows_api/mod.rs
  static/themes/default/theme.launcher.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.1
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
  build-schemas: any of: **/*.rs
