Repository eythaann/Seelen-UI: changes, and which lefthook commands are due for each by the changed paths.
All: js-linter, rust-linter, rust-code-check, build-schemas

js-linter:
  run: npm run lint

rust-linter:
  run: cargo fmt -- --check

rust-code-check:
  run: cargo clippy -- -D warnings

build-schemas:
  run: npm run build:schemas && git add documentation/schemas/*.schema.json

fix(crash): fake error on windows api been propagated
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.12
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

chore(release): v2.0.0-beta.13
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(main): remove testing dev code
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

enh(main): exit instead panic on setup error
  src/background/instance.rs
  src/background/main.rs
  src/background/seelen.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#57): app not starting correctly when restarting the pc
  src/background/main.rs
  src/background/schedule.ps1
Due: rust-linter, rust-code-check, build-schemas

fix(weg): not opening apps on click items
  src/apps/seelenweg/modules/item/infra/UserApplication.tsx
  src/background/seelen_weg/handler.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(weg): spawning console on open files
  src/background/exposed.rs
Due: rust-linter, rust-code-check, build-schemas

fix(weg/tb): dock and topbar been hidden on task switching
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/mod.rs
  src/background/utils/constants.rs
  src/background/winevent.rs
Due: rust-linter, rust-code-check, build-schemas

fix(wall): app crashing when trying set custom wallpapers
  src/background/seelen_wall/mod.rs
  src/background/windows_api/window.rs
Due: rust-linter, rust-code-check, build-schemas

fix(weg/tb): stealing focus when fullscreened apps
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
Due: rust-linter, rust-code-check, build-schemas

chore(lang): improvements on chinese translations (#114)
  src/apps/seelen_rofi/i18n/translations/zh.yml
  src/apps/settings/i18n/translations/zh.yml
Due: none

chore(release): v2.0.0-beta.14
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(media): show app icon of apps that are not uwp/msix
  changelog.md
  src/apps/seelenweg/modules/item/infra/MediaSession.css
  src/background/windows_api/mod.rs
  src/background/windows_api/window.rs
  static/themes/default/theme.toolbar.css
Due: rust-linter, rust-code-check, build-schemas

revert(49cacf21): reimplement the fix done on this commit
  lib/src/handlers/events.ts
  lib/src/handlers/mod.rs
  lib/src/utils/layered_hitbox.ts
  src/background/seelen_bar/hook.rs
  src/background/seelen_bar/mod.rs
  src/background/seelen_weg/hook.rs
  src/background/seelen_weg/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

feat(icon_packs): add icons packs feature and improve icons extractors
  documentation/schemas/icon_pack.schema.json
  documentation/schemas/settings.schema.json
  lib/src/handlers/events.ts
  lib/src/handlers/mod.rs
  lib/src/main.rs
  lib/src/state/icon_pack.rs
  lib/src/state/icon_pack.ts
  lib/src/state/index.ts
  lib/src/state/mod.rs
  lib/src/state/settings.rs
  lib/src/state/settings.ts
  src/apps/seelenweg/modules/item/app/PinnedApp.ts
  src/background/exposed.rs
  src/background/modules/media/application.rs
  src/background/modules/tray/application.rs
  src/background/modules/uwp/mod.rs
  src/background/seelen.rs
  src/background/seelen_rofi/mod.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/events.rs
  src/background/state/application/icons.rs
  src/background/state/application/mod.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/string_utils.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

fix(#83): edge tabs open in file explorer
  changelog.md
  src/background/seelen_weg/mod.rs
Due: rust-linter, rust-code-check, build-schemas

feat(#77): manage pwa as separated apps
  lib/src/state/weg_items.rs
  src/apps/seelenweg/modules/bar/index.tsx
  src/apps/seelenweg/modules/shared/store/app.ts
  src/background/modules/media/application.rs
  src/background/seelen.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/seelen_weg/mod.rs
  src/background/state/application/icons.rs
  src/background/windows_api/mod.rs
  src/background/windows_api/process.rs
  src/background/windows_api/window.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.15
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(themes): can not unselect themes when some of them were deleted
  changelog.md
  lib/src/state/settings.rs
  src/apps/settings/modules/general/main/infra/Themes.tsx
  src/apps/toolbar/modules/item/infra/Inner.tsx
  src/apps/toolbar/modules/item/infra/infra.tsx
  static/themes/default/theme.toolbar.css
Due: js-linter, rust-linter, rust-code-check, build-schemas

refactor(uwp): remove unused uwp_manager struct
  src/background/main.rs
  src/background/modules/mod.rs
  src/background/modules/uwp/mod.rs
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check, build-schemas

refactor(winvd): disable native vd in meantime of the library refactor
  scripts/lefthook/post_hook.rs
  scripts/lefthook/pre_hook.rs
  src/background/utils/winver.rs
Due: rust-linter, rust-code-check, build-schemas

ci(local): improve speed of local ci scripts
  .gitignore
  lefthook.yml
  scripts/lefthook/post_hook.rs
  scripts/lefthook/pre_hook.rs
Due: rust-linter, rust-code-check, build-schemas

style(settings): fix navigation menu's scroll
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/components/navigation/index.tsx
Due: js-linter

enh(settings): improve visuals on settings
  scripts/build.ts
  src/apps/seelen_rofi/public/index.html
  src/apps/seelen_task_switcher_rename_later/public/index.html
  src/apps/seelen_wall/public/index.html
  src/apps/seelen_wm_v2/public/index.html
  src/apps/seelenweg/index.html
  src/apps/seelenweg/public/index.html
  src/apps/settings/components/header/index.module.css
  src/apps/settings/components/header/index.tsx
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/components/navigation/index.tsx
  src/apps/settings/index.html
  src/apps/settings/modules/Home/MiniStore.module.css
  src/apps/settings/modules/Home/MiniStore.tsx
  src/apps/settings/modules/Home/index.tsx
  src/apps/settings/public/index.html
  src/apps/settings/public/logo.svg
  src/apps/shared/components/Icon/index.tsx
  src/apps/toolbar/index.html
  src/apps/toolbar/public/index.html
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(wall): add animation on change and stop videos on fullscreen
  documentation/schemas/settings.schema.json
  lib/src/handlers/events.ts
  lib/src/handlers/invokers.ts
  lib/src/handlers/mod.rs
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/apps/seelen_wall/styles/global.css
  src/apps/settings/modules/Wall/index.module.css
  src/apps/settings/modules/Wall/infra.tsx
  src/apps/settings/modules/developer/infra.tsx
  src/background/exposed.rs
  src/background/hook.rs
  src/background/seelen_wall/hook.rs
  src/background/seelen_wall/mod.rs
  src/background/seelen_weg/mod.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

enh(wall): add support to webp extension
  src/apps/seelen_wall/modules/wallpaper/infra.tsx
  src/apps/settings/components/navigation/index.module.css
  src/apps/settings/modules/Wall/infra.tsx
  tauri.conf.json
Due: js-linter

fix(#118): handling foreground of invisible windows
  src/background/hook.rs
  src/background/utils/constants.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#117): creation of tray overflow failing on other langs than english
  src/background/modules/tray/application.rs
  src/background/seelen_weg/handler.rs
  src/background/windows_api/mod.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#116): exposed handlers no ensuring windows are valid
  src/background/seelen_weg/handler.rs
Due: rust-linter, rust-code-check, build-schemas

fix(#119): modules moving of place after startup
  scripts/lefthook/pre_hook.rs
  src/background/instance.rs
  src/background/seelen.rs
  src/background/seelen_bar/hook.rs
  src/background/seelen_weg/hook.rs
  src/background/windows_api/monitor.rs
Due: rust-linter, rust-code-check, build-schemas

enh(uwp): restore old code to get the hightest quality icons
  Cargo.lock
  Cargo.toml
  src/background/error_handler.rs
  src/background/modules/mod.rs
  src/background/modules/uwp/domain.rs
  src/background/modules/uwp/load_uwp_apps.ps1
  src/background/modules/uwp/mod.rs
  src/background/seelen_weg/icon_extractor.rs
Due: rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.16
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

enh(errors): improve logs of errors to easier debug on prod
  Cargo.lock
  Cargo.toml
  src/background/error_handler.rs
  src/background/hook.rs
  src/background/instance.rs
  src/background/main.rs
  src/background/modules/cli/application/mod.rs
  src/background/modules/power/infrastructure.rs
  src/background/plugins.rs
  src/background/seelen_weg/icon_extractor.rs
  src/background/system/brightness.rs
  src/background/windows_api/mod.rs
  tauri.conf.json
Due: rust-linter, rust-code-check, build-schemas

fix(monitors): widgets only be shown on one monitor
  src/background/seelen_bar/hook.rs
  src/background/seelen_weg/hook.rs
Due: rust-linter, rust-code-check, build-schemas

fix(monitors): fix app crashing on connecting a monitor
  lib/src/handlers/events.ts
  lib/src/handlers/mod.rs
  src/apps/seelen_wall/app.tsx
  src/apps/seelen_wall/modules/shared/store/app.ts
  src/apps/seelen_wall/modules/shared/store/domain.ts
  src/apps/seelen_wall/modules/shared/store/infra.ts
  src/background/modules/monitors/mod.rs
  src/background/seelen.rs
Due: js-linter, rust-linter, rust-code-check, build-schemas

chore(release): v2.0.0-beta.17
  Cargo.lock
  Cargo.toml
  changelog.md
  package-lock.json
  package.json
Due: none

fix(build): dev build failing
  changelog.md
  tauri.conf.json
  templates/installer.nsi
Due: none

enh(settings): replace splashscreen image
  src/apps/settings/public/index.html
  src/apps/settings/public/splashscreen.png
  src/apps/settings/styles/global.css
Due: none

docs(readme): update readme
  documentation/images/settings_preview.png
  documentation/images/twm_preview.png
  readme.md
Due: none

Path conditions:
  js-linter: any of: **/*.{js,jsx,ts,tsx}
  rust-linter: any of: **/*.rs
  rust-code-check: any of: **/*.rs
  build-schemas: any of: **/*.rs
